@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat&family=Titillium+Web&display=swap');


.App{
    max-width: 100%;
    padding-bottom: 44px;
    border-radius: 4px;
    background-color: #cddef6;
    margin: auto;
    margin-top: 0;
    padding: 44px;
    min-height: 400px;
    
}