.playnpause {
  transition: 0.3s;
}

.playnpause img {
  padding: 8px;
  width: 56px;
  margin: 12px 0 2px 12px;
}
.playnpause:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.container {
  display: flex;
  max-height: 12px;
}

.speaker {
  margin-left: auto;
}
.speaker img {
  width: 68px;
  padding: 8px 12px 6px 0;
}

.instruct {
  justify-content: left;
  padding: 14px;
  font-size: 1.5rem;
}

.volume{
  display:flex;
  flex-direction: column;
  width:140px;
  font-size: 0.8rem;
  align-items: center;
}
.volume input[type="range"]{
 
  width:80px;
}
.volumeText{
text-align: center;
}
